$font: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
$font-size: 16px;
$header-size: 55px;
$aside-width: 260px;
$text-color: #555555;
$header-color: #4a5361;
$admin-color: #383c46;
$background-color: mix($admin-color, #fff, 10);
$btn-color: #4a79b4;
$btn-color-green: #4ab46d;
$btn-color-red: #b44a4a;
$btn-color-disabled: #b1b3b4;
$btn-alt-color: #f1f3f4;
* {
	box-sizing: border-box;
	font-family: $font;
    font-size: $font-size;
}
html {
  	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: $text-color;
    background-color: $background-color;
	margin: 0;
}
h1, h2, h3, h4, h5 {
	color: $header-color;
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: $aside-width;
	z-index: 999;
	width: 100%;
	height: $header-size;
	background-color: #fff;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
	a {
		display: inline-flex;
		color: $header-color;
		height: 100%;
		text-decoration: none;
		justify-content: center;
		align-items: center;
		padding: 0 20px;
		i {
			font-size: 16px;
		}
		&:hover, &:active {
			color: lighten($header-color, 10);
		}
	}
	.space-between {
		flex: 1;
	}
	.dropdown {
		display: inline-flex;
		color: $header-color;
		height: 100%;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
		i {
			font-size: 18px;
		}
		&:hover, &:active {
			color: lighten($header-color, 10);
		}
		.list {
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			width: 150px;
			background-color: #fff;
			border-top: 1px solid #eee;
			box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.05);
			a {
				padding: 10px 15px;
				font-size: 14px;
				&:hover {
					background-color: #fbfbfb;
				}
			}
		}
		&:hover, &:active {
			.list {
				display: flex;
				flex-flow: column;
			}
		}
	}
	&.full {
		padding-left: 0;
	}
}
aside {
	position: fixed;
	z-index: 999999;
	height: 100%;
	width: $aside-width;
	display: flex;
	flex-flow: column;
	background-color: darken($admin-color, 8);
	overflow-y: auto;
	h1 {
		display: inline-flex;
		background-color: #5472bd;
		width: 100%;
		height: $header-size;
		min-height: $header-size;
		color: #fff;
		padding: 0;
		margin: 0;
		font-weight: 600;
		font-size: 14px;
		align-items: center;
		padding: 0 20px;
		justify-content: center;
	}
	> a {
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		color: mix($admin-color, #fff, 40);
		padding: 15px 20px;
		i {
			width: 40px;
		}
		&:hover, &.selected {
			background-color: mix($admin-color, #4a79b4, 98);
			color: #fff;
			border-left: 3px solid #4a79b4;
			padding: 15px 17px;
		}
		&.selected + .sub {
			display: flex;
		}
		.note {
			background-color: darken($admin-color, 0);
			padding: 1px 5px;
			border-radius: 4px;
			font-size: 12px;
			margin-left: 10px;
		}
	}
	.sub {
		display: none;
		flex-flow: column;
		background-color: darken($admin-color, 12);
		padding: 13px 0;
		a {
			font-size: 14px;
			color: mix($admin-color, #fff, 40);
			text-decoration: none;
			padding: 4px 20px;
			span {
				display: inline-block;
				width: 40px;
				font-size: 12px;
			}
			&:hover, &.selected {
				color: #fff;
			}
		}
	}
	.footer {
		display: flex;
		flex-flow: column;
		margin-top: auto;
		padding: 15px;
		border-top: 1px solid darken($admin-color, 10);
		font-size: 14px;
		color: #5a5b5e;
		a {
			text-decoration: none;
			font-size: 14px;
			color: #707276;
			padding-bottom: 2px;
			&:hover {
				color: lighten(#707276, 5);
			}
		}
	}
	&.closed {
		display: none;
	}
}
main {
	$padding: 30px;
	padding: $padding;
	padding-left: $aside-width + $padding;
	padding-top: $header-size + $padding;
	&.full {
		padding-left: $padding;
		padding-right: $padding;
	}
	h2 {
		font-size: 20px;
		padding-bottom: 20px;
		font-weight: 600;
		span {
			font-size: 16px;
			margin-left: 5px;
			font-weight: 600;
			color: lighten($header-color, 30);
		}
	}
	.content-title {
		border-bottom: 1px solid darken($background-color, 6);
		display: flex;
		h2 {
			flex: 1;
		}
		.btn {
			height: 36px;
		}
		.title {
			flex: 1;
			display: flex;
			align-items: center;
			padding-bottom: 15px;
			i {
				display:inline-flex;
				justify-content: center;
				align-items: center;
				background-color: #489c80;
				color: #fff;
				width: 52px;
				height: 42px;
				border-radius: 4px;
				margin-right: 12px;
				font-size: 18px;
				&.alt {
					background-color: #7c8394;
				}
			}
			h2 {
				padding: 0 0 3px 0;
			}
			p {
				margin: 0;
				font-size: 14px;
				color: mix($background-color, #000, 65);
				font-weight: 500;
			}
		}
	}
	.msg {
		display: flex;
		align-items: center;
		margin: 15px 0 0 0;
		padding: 15px;
		font-weight: 500;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
		p {
			margin: 0;
			padding: 0 15px;
			font-size: 14px;
			flex: 1;
		}
		i.fa-times {
			align-self: flex-end;
			justify-content: flex-end;
			cursor: pointer;
			&:hover {
				opacity: .9;
			}
		}
		&.success {
			background-color: #C3F3D7;
			border-left: 4px solid #51a775;
			color: #51a775;
			i {
				color: #51a775;
			}
		}
		&.error {
			background-color: #f3c3c3;
			border-left: 4px solid #a75151;
			color: #a75151;
			i {
				color: #a75151;
			}
		}
	}
	.content-header {
		display: flex;
		justify-content: space-between;
		form {
			display: flex;
			justify-content: space-between;
			.search input, > select {
				background-color: transparent;
				outline: none;
				border: none;
				height: 40px;
				width: 220px;
				border-bottom: 1px solid darken($background-color, 10);
				padding-right: 25px;
				margin-left: 10px;
				&:hover, &:active {
					border-bottom: 1px solid darken($background-color, 20);
				}
			}
			> select {
				width: 150px;
			}
			> a {
				text-decoration: none;
				display: inline-flex;
				color: darken($background-color, 50);
				justify-self: center;
				align-items: center;
				padding: 0 5px;
				&:hover {
					color: darken($background-color, 60);
				}
			}
		}
		.search {
			label {
				position: relative;
			}
			i {
				position: absolute;			
				right: 4px;
				top: 4px;
				bottom: 0;
				font-size: 14px;
				margin-top: auto;
				margin-bottom: auto;
				color: darken($background-color, 20);
			}
		}
		.filters {
			display: flex;
			position: relative;
			margin-right: 10px;
			margin-bottom: 3px;
			align-items: center;
			a {
				text-decoration: none;
				font-weight: 600;
				color: $header-color;
				white-space: nowrap;
				&:hover {
					color: darken($header-color, 10);
				}
			}
			.list {
				display: none;
				top: calc(100% + 5px);
				width: 180px;
				flex-flow: column;
				position: absolute;
				background-color: #fff;
				padding: 10px;
				box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
				label {
					padding-bottom: 5px;
					font-size: 14px;
				}
				input {
					margin-right: 10px;
				}
				select {
					width: 100%;
					margin-bottom: 10px;
					font-size: 14px;
					padding: 3px;
					border:1px solid darken($background-color, 5);
				}
				button {
					background: $btn-color;
					border: 0;
					color: #FFFFFF;
					padding: 5px 0;
					font-size: 12px;
					font-weight: 600;
					margin-top: 5px;
					cursor: pointer;
					border-radius: 4px;
					&:hover {
						background: darken($btn-color, 3);
					}				
				}
			}
		}
	}
	.content-block {
		background-color: #fff;
		margin-top: 25px;
		padding: 15px;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
		overflow: hidden;
		.block-header {
			position: relative;
			border-bottom: 1px solid lighten($background-color, 2);
			margin-bottom: 20px;
			padding: 0 15px 15px 15px;
			margin-left: -15px;
			margin-right: -15px;
			font-size: 14px;
			font-weight: 500;
			i {
				display: inline-flex;
				height: 25px;
				width: 25px;
				padding-top: 2px;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background-color: #d5e7fa;
				color: #6e94ba;
				margin-right: 10px;
			}
		}
	}
	.content-block-wrapper {
		display: flex;
		width: 100%;
		padding-top: 25px;
		.content-block {
			width: 100%;
			margin: 0 10px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.tabs {
		display: flex;
		overflow-x: auto;
  		-webkit-overflow-scrolling: touch;
		background-color: darken($background-color, 5);
		margin-top: 25px;
		box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.03);
		z-index: 100;
		a {
			display: flex;
			text-decoration: none;
			padding: 12px 15px;
			border: 0;
			color: lighten($header-color, 15);
			font-weight: 500;
			font-size: 14px;
			&:hover {
				background-color: darken($background-color, 7);;
			}
			&.active {
				color: $header-color;
				background-color: #fff;
			}
		}
	}
	.tabs ~ .content-block {
		margin-top: 0;
		box-shadow: 0px 6px 5px 1px rgba(0,0,0,0.03);
	}
	.tab-content {
		display: none;
		&.active {
			display: block;
		}
	}
	.dashboard {
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
		.stat {
			width: 24%;
			padding: 0;
			display: flex;
			flex-flow: wrap;
			> i {		
				display: inline-flex;
				justify-content: center;
				padding: 15px;
				margin: 30px 25px 0 0;
				align-items: center;
				font-size: 18px;
				height: 50px;
				width: 50px;
				border-radius: 50%;
				background-color: #d5e7fa;
				color: #6e94ba;
			}
			.data {
				padding: 7px;
				flex: 1;
				h3 {
					font-size: 16px;
					font-weight: 400;
					padding: 15px 15px 0 15px;
				}
				p {
					margin: 0;
					padding: 10px 15px 15px 15px;
					font-size: 24px;
					font-weight: 700;
				}
			}
			.footer {
				width: 100%;
				border-top: 1px solid $background-color;
				background-color: lighten($background-color, 6);
				color: darken($background-color, 30);
				font-size: 14px;
				padding: 10px;
				i {
					padding-right: 5px;
				}
			}
		}
	}
	.form {
		display: flex;
		flex-flow: column;
		width: 500px;
		padding: 20px;
		input[type="text"], input[type="password"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="file"], textarea, select {
			width: 100%;
			padding: 15px 5px;
			margin-bottom: 25px;
			border: 0;
			border-bottom: 1px solid darken($background-color, 5);
			&:hover, &:active {
				border-bottom: 1px solid darken($background-color, 20);
			}
		}
		textarea {
			height: 200px;
		}
		input[type="checkbox"] {
			width: auto;
			margin: 15px 0 25px 2px;
			transform: scale(1.2);
		}
		label {
			display: block;
			font-weight: 600;
			.required {
				font-style: normal;
				color: #e26060;
			}
		}
		button {
			background-color: darken($background-color, 5);
			color: darken($background-color, 50);
			border: 0;
			padding: 5px;
			width: 100%;
			font-weight: 600;
			font-size: 14px;
			cursor: pointer;
			&:hover {
				background-color: darken($background-color, 8);
			}
		}
		.comment {
			font-size: 14px;
			color: lighten($text-color, 20);
			padding: 10px 0 5px;
			margin: 0;
		}
	}
	.top-nav {
		display: flex;
		flex-flow: wrap;
		padding-top: 20px;
	}
	.pagination {
		display: flex;
		align-items: center;
		padding: 25px 0;
		a {
			display: inline-flex;
			text-decoration: none;
			background-color: #758497;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			border-radius: 4px;
			padding: 7px 10px;
			&:hover {
				background-color: darken(#758497, 3);
			}
			&:first-child {
				margin-right: 10px;
			}
			&:last-child {
				margin-left: 10px;
			}
		}
		span {
			font-weight: 600;
		}
	}
}
.table {
	overflow-x: auto;
	padding: 0 10px;
	table {
		width: 100%;
		border-collapse: collapse;
		thead {
			td {
				font-weight: 600;
				font-size: 14px;
				padding: 15px 0;
				a {
					font-weight: inherit;
					font-size: inherit;
					color: inherit;
					text-decoration: none;
				}
				i {
					padding-left: 5px;
				}
			}
			tr {
				border-bottom: 1px solid lighten($background-color, 2);
			}
		}
		tbody {
			tr:first-child td {
				padding-top: 10px;
			}
			td {
				padding: 8px 0;
			}
		}
	}
}
.link1, .link2 {
	text-decoration: none;
	color: #0060ba;
	border-bottom: 1px dotted;
	margin: 0 5px 0 0;
	&:hover {
		color: #003260;
	}
}
.link2 {
	color: #ba0000;
	&:hover {
		color: #600000;
	}
}
.title1 {
	color: #6a6e75;
	border-bottom: 1px solid lighten($background-color, 2);
	margin-bottom: 15px;
	padding-bottom: 15px;
	font-weight: 500;
}
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	appearance: none;
	cursor: pointer;
	border: 0;
	background: $btn-color;
	color: #FFFFFF;
	padding: 0 14px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	height: 38px;
	&:hover {
		background: darken($btn-color, 3);
	}
	&.green {
		background: $btn-color-green;
		&:hover {
			background: darken($btn-color-green, 3);
		}
	}
	&.red {
		background: $btn-color-red;
		&:hover {
			background: darken($btn-color-red, 3);
		}
	}
	&.alt {
		color: #75797e;
		border: 1px solid darken($btn-alt-color, 10);
		box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.03);
		background: $btn-alt-color;
		&:hover {
			background: darken($btn-alt-color, 1);
		}
	}
	&.disabled {
		background: $btn-color-disabled;
		&:hover {
			background: darken($btn-color-disabled, 3);
		}		
	}
	&.small {
		padding: 8px 12px;
		font-size: 12px;
	}
}
@for $i from 1 to 6 {
	.pad-#{$i} {
		padding: #{$i*5}px;
	}
	.mar-#{$i} {
		margin: #{$i*5}px;
	}
}
@for $i from 1 to 6 {
	.pad-bot-#{$i} {
		padding-bottom: #{$i*5}px;
	}
	.pad-top-#{$i} {
		padding-top: #{$i*5}px;
	}
	.pad-left-#{$i} {
		padding-left: #{$i*5}px;
	}
	.pad-right-#{$i} {
		padding-right: #{$i*5}px;
	}
	.pad-x-#{$i} {
		padding-left: #{$i*5}px;
		padding-right: #{$i*5}px;
	}
	.pad-y-#{$i} {
		padding-top: #{$i*5}px;
		padding-bottom: #{$i*5}px;
	}
	.mar-bot-#{$i} {
		margin-bottom: #{$i*5}px;
	}
	.mar-top-#{$i} {
		margin-top: #{$i*5}px;
	}
	.mar-left-#{$i} {
		margin-left: #{$i*5}px;
	}
	.mar-right-#{$i} {
		margin-right: #{$i*5}px;
	}
	.mar-x-#{$i} {
		margin-top: #{$i*5}px;
		margin-bottom: #{$i*5}px;
	}
	.mar-y-#{$i} {
		margin-left: #{$i*5}px;
		margin-right: #{$i*5}px;
	}
}
@media screen and (max-width: 1000px) {
	header {
		padding-left: 0;
	}
	.responsive-hidden {
		display: none !important;
	}
	.responsive-width-100 {
		width: 100% !important;
		flex: auto !important;
		flex-basis: 100% !important;
	}
	.responsive-flex-column {
		flex-flow: column;
	}
	.responsive-flex-wrap {
		flex-flow: wrap;
	}
	.responsive-flex {
		display: flex;
	}
	main {
		padding: 70px 7px 20px 7px;
		.content-header {
			max-width: 100%;
			form {
				padding-top: 10px;
				.search input, > select {
					padding-right: 25px;
					margin-left: 0;
				}
			}
		}
		.content-block {
			padding: 5px;
			.block-header {
				padding-top: 10px;
			}
		}
		.dashboard {
			flex-flow: column;
			.stat {
				width: 100%;
			}
		}
	}
	@for $i from 1 to 6 {
		.responsive-pad-#{$i} {
			padding: #{$i*5}px;
		}
		.responsive-mar-#{$i} {
			margin: #{$i*5}px;
		}
	}
	@for $i from 1 to 6 {
		.responsive-pad-bot-#{$i} {
			padding-bottom: #{$i*5}px;
		}
		.responsive-pad-top-#{$i} {
			padding-top: #{$i*5}px;
		}
		.responsive-pad-left-#{$i} {
			padding-left: #{$i*5}px;
		}
		.responsive-pad-right-#{$i} {
			padding-right: #{$i*5}px;
		}
		.responsive-pad-x-#{$i} {
			padding-left: #{$i*5}px;
			padding-right: #{$i*5}px;
		}
		.responsive-pad-y-#{$i} {
			padding-top: #{$i*5}px;
			padding-bottom: #{$i*5}px;
		}
		.responsive-mar-bot-#{$i} {
			margin-bottom: #{$i*5}px;
		}
		.responsive-mar-top-#{$i} {
			margin-top: #{$i*5}px;
		}
		.responsive-mar-left-#{$i} {
			margin-left: #{$i*5}px;
		}
		.responsive-mar-right-#{$i} {
			margin-right: #{$i*5}px;
		}
		.responsive-mar-x-#{$i} {
			margin-top: #{$i*5}px;
			margin-bottom: #{$i*5}px;
		}
		.responsive-mar-y-#{$i} {
			margin-left: #{$i*5}px;
			margin-right: #{$i*5}px;
		}
	}
}